
.dialogsItems {
    padding: 10px;
    /*margin-bottom: 10px;*/
}

.dialogsItems .active {
    color: gold;
}

.dialog {
    margin-bottom: 5px;
}

.pict{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
