
.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}

.dialog {
    margin-bottom: 5px;
    display: flex;
}
.dialog a {
    margin-left: 10px;
    text-decoration: none;
}

.dialog:hover {
background-color: #e5ebf1;
}

.pict{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
