.nav{
    /*background: aqua;*/
    grid-area: n;
    padding: 20px;
    min-height: 70vh;
}
.navbar_container{
    position: fixed;
}
.item a{
    text-decoration: none;
    color: white;
}
.item a.activeLink{
    color: black;
}

.settings {
    margin-top: 20px;
}

