
/*.profAva {*/
/*    display: flex;*/
/*    margin-top: 10px;*/
/*    background-color: aquamarine;*/
/*}*/


.item img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/*.person_information{*/
/*    padding-left: 25px;*/
/*}*/