.app-wrapper {

    width: 900px;
    margin: 0 auto;
    display: grid;
    padding-top: 70px;
    grid-template-areas: "n c r" "h h r";
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    background-color: #dae2ea;;
}

h2 {
    font-size: 20px;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

.app-wrapper-content {
    background: cornflowerblue;
    grid-area: c;
}

.block-wrapper-container{
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}


