
.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-template-rows: auto 2fr;
}

.sendingMessageBlock{
    background: rgba(161, 106, 183, 0.63);
}

.messages{
    padding: 10px;
    background: rgba(183, 241, 255, 0.6);
    display: flex;
    flex-direction: column;
}

.messages div{
    display: flex;
    background: rgba(255, 130, 79, 0.48);
    padding: 10px;
    border-radius:15px;
}

.messages div:nth-child(2n){
    align-self: flex-start;
}

.messages div:nth-child(2n+1){
    align-self: flex-end;
    flex-direction: row-reverse;
}
